html, body {
    margin: 0;
    padding: 0;
    background: #6a4394;
}

a {
    text-decoration: none;
}

.btn-home {
    position: fixed;
    left: 5px;
    top: 5px;
    color: #fff;
    border-radius: 50%;
}
.btn-logout{
    position: fixed;
    right: 5px;
    top: 5px;
    color: #fff;
    border-radius: 50%;
}

.btn-home:hover,.btn-create:hover,.form-search button:hover,.btn-logout:hover {
    box-shadow: 0px 0px 10px 5px #ccc;
}

.btn-home img,.btn-logout img {
    width: 50px;
    border-radius: 50%;
}

.title-page {
    text-align: center;
    color: #fff;
    font-size: 70px;
}

.container {
    width: 90%;
    margin: auto;

}

table {
    width: 100%;
    color: #fff;
    text-align: center;
}

table th {
    background: #bc9affcc;
    padding: 10px;

}

table td {
    background: #fff;
    color: #222222;
    padding: 10px;

}

.btn-action {
    background: #084665;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
}

.btn-action img{
    width: 15px;
}
.btn-create {
    width: 50px;
    height: 50px;
    background: #5f84ce;
    color: #fff;
    float: right;
    border-radius: 50px;
    text-align: center;
    padding: 3px;
    font-size: 15px;
    position: relative;
}


.btn-create img {
    border-radius: 50%;
}

ul.pagination {
    float: right;
    display: inline-block;
    list-style-type: none;
}

.pagination li {
    background: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 13px;
}

li.active {
    background: #5f84ce;
    color: #fff;
}

.form-search input{
    float: left;
    height: 40px;
    width: 200px;
    border: none;
    border-bottom-left-radius:5px;
    border-top-left-radius: 5px;
    float: left;
}

.form-search button{
    float: left;
    width: 50px;
    height:42px;
    background: #5f84ce;
    color: #fff;
    border: none;
    border-bottom-right-radius:5px;
    border-top-right-radius: 5px;
    float: left;
}

.form-search button img{
   width: 18px;
    padding: 0px;
    margin: 0px;
}

.message-info{
    color:white;
    background: #3ad4cdcc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
