html,body{
    margin: 0;
    padding: 0;
    background: #6a4394;
}

.btn-logout{
    position: fixed;
    right: 5px;
    top: 5px;
    color: #fff;
    border-radius: 50%;
}

.btn-logout:hover {
    box-shadow: 0px 0px 10px 5px #ccc;
}

.btn-logout img {
    width: 50px;
    border-radius: 50%;
}

.container{
    margin: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-tempate-areas: "user user" "file file" "customer customer";
    grid-column-gap: 10px;
}

.button{
    border-radius: 5px;
    height: 300px;
    text-align: center;
    font-size: 70px;
    text-decoration: none;
}

.button img{
    width: 40%;
}
.button .title{
    width: 100%;
    color: #ffff;
}

.button:hover{
    background: #61cc6f;
}

.user{
   grid-area: "user";
    background: #9088ffcc;
}

.file{
    grid-area: "file";
    background: #e84b4b;
}

.customer{
    grid-area: "customer";
    background: #ef7d4d;
}

